{% extends 'based.html' %}

{% block title %}依頼一覧{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-left mb-4">依頼一覧</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>名前</th>
                <th>清掃日</th>
                <th>詳細</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.user_name }}</td>
                <td>{{ reservation.user_cleaning_date|date:"Y/m/d H:i" }}</td>
                <td>
                    <a href="{% url 'adminaccounts:administratorrequestpermissionconfirmation' reservation.id %}" class="btn btn-primary">
                        詳細を見る
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3" class="text-center">依頼がありません。</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
