{% extends 'based.html' %}

{% block title %}依頼詳細{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-left mb-4">依頼詳細</h1>
    <div class="card border-0 shadow-lg rounded-3">
        <div class="card-body p-4">
            <h5 class="card-title fw-bold text-primary">{{ reservation.user_name }}</h5>
            <p class="card-text">
                <strong>電話番号:</strong> {{ reservation.user_phone }}<br>
                <strong>メールアドレス:</strong> {{ reservation.user_email }}<br>
                <strong>住所:</strong> {{ reservation.user_address }}<br>
                <strong>清掃場所:</strong> {{ reservation.user_cleaning_location }}<br>
                <strong>清掃日:</strong> {{ reservation.user_cleaning_date|date:"Y/m/d H:i" }}<br>
                <strong>ステータス:</strong> 
                {% if reservation.status == 'active' %}
                    <span class="badge bg-success">有効</span>
                {% elif reservation.status == 'approved' %}
                    <span class="badge bg-primary">許可</span>
                {% else %}
                    <span class="badge bg-danger">キャンセル</span>
                {% endif %}
            </p>
        </div>
    </div>
    <div class="text-center mt-4">
        <a href="{% url 'adminaccounts:adminrequestconfirmation' %}" class="btn btn-secondary py-2 px-4 shadow-lg rounded-pill">
            <i class="bi bi-arrow-left-circle me-2"></i> 戻る
        </a>
    </div>
</div>
{% endblock %}
