{% extends 'based.html' %}

{% block title %}
    依頼スケジュール変更
{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1 class="text-center mb-4">依頼スケジュール変更</h1>
        
        <!-- スケジュール追加フォーム -->
        <form id="scheduleForm">
            <input type="hidden" id="user_id" value="1">
            <div class="mb-3">
                <label for="date" class="form-label">日付を選択</label>
                <input type="date" id="date" class="form-control" required placeholder="日付を選択">
            </div>
            <div class="mb-3">
                <label for="start_time" class="form-label">開始時間を入力</label>
                <input type="time" id="start_time" class="form-control" required placeholder="開始時間を入力">
            </div>
            <div class="mb-3">
                <label for="end_time" class="form-label">終了時間を入力</label>
                <input type="time" id="end_time" class="form-control" required placeholder="終了時間を入力">
            </div>
            <button type="submit" class="btn btn-primary w-100">決定</button>
            <button type="submit" class="btn btn-danger w-100 mt-3">削除</button>
        </form>
    </div>

    <div class="text-center mt-4">
        <a href="{% url 'adminaccounts:adminhome' %}" class="btn btn-secondary w-auto py-2 px-4 shadow-lg rounded">
            <i class="bi bi-clipboard-check me-2"></i> 戻る
        </a>
    </div>
    
{% endblock %}
