<!-- templates/home.html -->
{% extends 'basea.html' %}

{% block title %}
    <h1>予約</h1>
{% endblock %}

{% block content %}
{% load static %}
    <form method="POST">
        {% csrf_token %}
        {{ form.user_name.label_tag }} {{ form.user_name }}
        {{ form.user_phone.label_tag }} {{ form.user_phone }}
        {{ form.user_email.label_tag }} {{ form.user_email }}
        {{ form.user_address.label_tag }} {{ form.user_address }}
        {{ form.user_cleaning_location.label_tag }} {{ form.user_cleaning_location }}
        
        {{ form.user_cleaning_date.label_tag }}
        <input type="datetime-local" name="user_cleaning_date" required>
        
        {{ form.user_comments.label_tag }} {{ form.user_comments }}
        <button type="submit">保存</button>
    </form>

    <!-- ログイン後ホーム画面ページに遷移するボタン -->
    <form action="{% url 'reservation:mainmenu' %}" method="post">
        {% csrf_token %}
        <button type="submit">戻る</button>
    </form>
{% endblock %}
