{% extends 'basea.html' %}

{% block title %}
    予約変更
{% endblock %}

{% block content %}
{% load static %}
<form method="POST">
    {% csrf_token %}
    {{ form.user_name.label_tag }} {{ form.user_name }}
    {{ form.user_phone.label_tag }} {{ form.user_phone }}
    {{ form.user_email.label_tag }} {{ form.user_email }}
    {{ form.user_addres.label_tag }} {{ form.user_addres }}
    {{ form.user_cleaning_location.label_tag }} {{ form.user_cleaning_location }}
    {{ form.user_cleaning_date.label_tag }} {{ form.user_cleaning_date}}
    {{ form.user_comments.label_tag }} {{ form.user_comments }}
    <button type="submit">変更</button>
</form>

<!-- 予約詳細画面に戻るボタン -->
<form action="{% url 'reservation:Reservation_detail' user_reservation_id %}" method="get">
    <button type="submit">戻る</button>
</form>

{% endblock %}
