{% extends 'basea.html' %}

<!-- 予約一覧画面 -->
{% block title %}
    予約一覧
{% endblock %}

{% block content %}
<ul>
    {% for user_reservation in Reservation_list %}
        <li>
            <a href="{% url 'reservation:Reservation_detail' user_reservation.user_reservation_id %}">
                清掃場所: {{ user_reservation.user_cleaning_location }}　清掃日時: {{ user_reservation.user_cleaning_date }}
            </a> 
        </li>    
    {% empty %}
        <div>清掃予約は一つもありません。</div>    
    {% endfor %}
</ul>
    <!-- ログイン前ホーム画面に遷移するボタン -->
    <form action="{% url 'reservation:mainmenu' %}" method="get">
        {% csrf_token %}
        <button type="submit">戻る</button>
    </form>
{% endblock %}
