<!-- basea.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- staticライブラリを読み込む -->
    {% load static %}
    <!-- タイトルを動的に設定 -->
    <title>{% block title %}ログイン後{% endblock %}</title>
    <!-- 他の必要なメタ情報やCSSのリンク -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <i class="bi bi-house-fill"></i> 株式会社クリッピー
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="bi bi-person-circle"></i> {{ request.user.name }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">
                                <i class="bi bi-box-arrow-right"></i> ログアウト
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contactus:contactus_create' %}">
                                <i class="bi bi-envelope-fill"></i> お問い合わせ
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
 
    <main class="container my-4">
        {% block content %}
        {% endblock %}
    </main>
 
    <footer class="text-center py-3 bg-body-tertiary">
        <p>&copy; 2024 株式会社クリッピー. All Rights Reserved.</p>
    </footer>
 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGqZ5T5xj/dQK9n/pkw3f1l54TR0w9"></script>
</body>
</html>