<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>スケジュール変更</title>
</head>
<body>
    <h1>スケジュール変更</h1>
    
    <!-- スケジュール追加フォーム -->
    <form id="scheduleForm">
        <input type="hidden" id="user_id" value="1">
        <input type="date" id="date" required placeholder="日付を選択">
        <input type="time" id="start_time" required placeholder="開始時間を入力">
        <input type="time" id="end_time" required placeholder="終了時間を入力">
        <button type="submit">スケジュール変更</button>
    </form>
    </div>
</body>
</html>
