{% extends 'basec.html' %}  <!-- 基本レイアウトテンプレート(basec.html)を継承 -->

{% block title %}
    清掃依頼詳細確認
{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1 class="mb-4 text-center">清掃依頼詳細確認</h1>

        <!-- 追加情報 -->
        <div class="mt-4">
            <h5>詳細情報</h5>
            <ul class="list-group">
                <li class="list-group-item"><strong>電話番号:</strong> {{ user_reservation.user_phone }}</li>
                <li class="list-group-item"><strong>メールアドレス:</strong> {{ user_reservation.user_email }}</li>
                <li class="list-group-item"><strong>住所:</strong> {{ user_reservation.user_address }}</li>
                <li class="list-group-item"><strong>備考:</strong> {{ user_reservation.user_comments }}</li>
            </ul>
        </div>

        <!-- 戻るボタン -->
        <div class="text-center mt-4">
            <form action="{% url 'reservation:Reservation_list' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary px-4">
                    戻る
                </button>
            </form>
        </div>
    </div>

    <div class="mb-4">
        <a href="{% url 'employeeaccounts:employeehome' %}" class="btn btn-primary me-2">戻る</a>
    </div>
{% endblock %}
